<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:component-scan base-package="com.mp.soundsystem"></context:component-scan>
	<bean id="compactDisc" class="com.mp.soundsystem.BlankDisc">
		<constructor-arg value="Tytuł"></constructor-arg>
		<constructor-arg value="Nazwa przykladowa wykonawcy"></constructor-arg>
		<constructor-arg>
			<list>
				<value>Jeden</value>
				<value>Dwa</value>
				<value>Trzy</value>
			</list>
		</constructor-arg>
	</bean>

</beans>
